// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  font-weight: bold;
  padding: rem(10px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}
.tel-button{
  background:$c-primary;
  color:white;
  padding:10px 20px;
  border-radius:5px;
  margin-top:30px;
  font-size: 1.2em;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}

// ----- Brand ----- //

.Button--brand {
  color: $c-white;
  fill: $c-white;
  background: $c-blue;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
