.Content {

}
.home-wrapper{
	h4{
		line-height: 0;
	}
	p{
		line-height: 2;
	}
	.image-head{
		img{
			margin-top: 20px;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(193, 193, 193, 0.75);
		-moz-box-shadow:    4px 4px 5px 0px rgba(193, 193, 193, 0.75);
		box-shadow:         4px 4px 5px 0px rgba(193, 193, 193, 0.75);
		}
		text-align: center;
		
	}
	.image-head-home{
		@extend .image-head;
		img{margin-top:75px;}
	}
}

#map_canvas{
	height:500px !important;
}
.shadow-border{
	border-top: 1px solid rgba(0, 0, 0, 0);
    width: 80%;
    margin:0 auto;
    background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 11px 0px rgba(45, 45, 45, 0.7);
	-moz-box-shadow:    0px 1px 11px 0px rgba(45, 45, 45, 0.7);
	box-shadow:         0px 1px 11px 0px rgba(45, 45, 45, 0.7);
	margin-bottom:40px;
}
h2{
	margin-bottom:0px;
}
.app-box{
	text-align:center;
	img{
		width:100%;
		
	}
	.first-img{
		width:80%;
		margin-top: 20px;
	}
}
//======tabs=======
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
//	height: 32px;
	width: 100%;
	font-size:16px;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	//height: 31px;
	line-height: 31px;
	color: #ccc;
	overflow: hidden;
	position: relative;
	width:100%;
}


ul.tabs li:hover {
	background-color: #ccc;
	color: #333;
}

ul.tabs li.active {
	background-color: #fff;
	color: #333;
	border-bottom: 1px solid #fff;
	display: block;
}

.tab_container {
	clear: both;
	width: 100%;
	background: #fff;
	overflow: auto;
	h3{
		margin-top: 0px;
	}
}

.tab_content {
	padding: 20px;
	padding-top:0px;
	display: none;
}

.tab_drawer_heading { display: none; }
@media screen and (max-width: 1140px) {
.white-bg{
	display:none;
}
}
@media screen and (max-width: 800px) {
	.slider-box{
		width:100% !important; 
		top:40% !important;
	}
}
@media screen and (max-width: 640px) {
	.tabs {
		display: none;
	}
	.footer-keur{
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: 1px solid #333;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.d_active {
		background-color: #0C2194;
		color: #fff;
	}
	.tab_content {
		//display: none !important;
		h3{display:none;}
	}
}

@media screen and (max-width: 450px) {
	.slider-box{
		display:none;
	}
}
//========================================

