// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background:rgba(12, 33, 148, 0.7);
  position: absolute;
  top:0px;
  width:100%;
  z-index: 999999;
  h1{
    font-size: 20px;
    color:white;
  }
  a{
    color:white;
    border-right:1px solid white;
    padding:0 1.07143rem;
  }
  li{
    margin:0px;
  }
  .Navigation{
    margin-top: 20px;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}
