// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background:rgba(12, 33, 148, 0.7);
  position: absolute;
  top:0px;
  width:100%;
  z-index: 999999;
  h1{
    font-size: 20px;
    color:white;
  }
  a{
    color:white;
    border-right:1px solid white;
    padding:0 1.07143rem;
  }
  li{
    margin:0px;
  }
  .Navigation{
    margin-top: 20px;
  }
}
.logo-link{
  border:0px !important;
  padding:0px !important;
  text-decoration: none !important;
  &:hover{
    text-decoration: none;
  }
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}

@media all and (max-width: 1040px) { 
  .Header {
    a{
      color:white;
      border-right:0px; 
      padding:0px;
    }
  }

}
@media all and (max-width: 640px) {
  .Header {
  background:rgba(12, 33, 148, 1);
  position: relative;
  width:100%;
  z-index: 999999;
    .telsvg {
    left: 10px; 
    top:65px;
  }
    .mailsvg {
      left: 75px;
      top:65px;
    }
  }
}